
.edit-avatar {
  display: flex;
  align-items: center;
}

.flip-up {
  transform: scaleY(-1);
}

#preference-card{
  background-color: #8bc6e8;
  margin: 1.5rem auto !important;
  padding: 10px;

  h6 {
    font-family: "Nunito", "Helvetica", "sans-serif";
    font-weight: 500;
    line-height: 1.2;
    font-size: 24px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 0;
  }
}

.page-container {
  color: #353232;
  background: linear-gradient(320deg, #186475, transparent);
}

.modal-content {
  border-radius: 0.5rem;
}

.close {
  color: red;
  transition: all 0.2s ease-in-out;
  opacity: 0.5;
}

.close:hover,
.close:focus {
  transform: rotate3d(0, 0, 1, 90deg);
  color: red;
  opacity: 1;
}
.simple-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  .day {
    height: 1rem !important;
  }
}

.calendar-heading {
  margin: 1.2rem 0;
}

.calendar-main a {
  padding: 3px 5px !important;
  text-decoration: none;
}

.calendar-main a:hover,
.calendar-main a:focus {
  color: black !important;
}

.calendar-title {
  font-size: larger;
  font-weight: bolder;
}
.calendar-main a:nth-of-type(1):before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f100";
  margin-right: 0.3rem;
  display: inline-block;
  font-style: normal;
  transition: transform 0.5s ease 0s, opacity 0.2s ease 0s;
}

.calendar-main a:nth-of-type(1):hover::before,
.calendar-main a:nth-of-type(1):focus::before {
  color: white;
  transform: translate(-3px, 0px);
}

.calendar-main a:nth-of-type(2):after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f101";
  margin-left: 0.3rem;
  display: inline-block;
  font-style: normal;
  transition: transform 0.5s ease 0s, opacity 0.2s ease 0s;
}

.calendar-main a:nth-of-type(2):hover::after,
.calendar-main a:nth-of-type(2):focus::after {
  color: white;
  transform: translate(3px, 0px);
}

section.welcome-box {
background: white;
display: flex;
align-items: center;
/* border: 1px solid; */
margin-bottom: 10px;
padding: 10px;
padding-right: 10px;
border-radius: 5px;
box-shadow: 0 1px 6px -4px black;
padding-left: 10px;
}

.welcome-box h2{
margin-bottom: 0;
font-size: 18px;
font-weight: bold;

}
.hex-code {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 9px;
  animation: 1s ease all;

}

.dash-white-card {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 9px;
  animation: 1s ease all;
  text-decoration: none;
  width: 100%;
}
.dash-white-card:hover,
.dash-white-card:focus {
  text-decoration: none !important;
  color: black;
  box-shadow: 0px 0px 2px 1px white;
}
.no-underline:hover,
.no-underline:focus {
  text-decoration: none !important;
  color: black;
}

#qr-code svg {
  margin: 0 0 30px 0;
}

.qr-wrapper  {
  max-height: 0;
  overflow: hidden;
  transition: ease-in 400ms;
  transition-property: all;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;


  &.show-animation {
    max-height: 250px;
    transition: ease-in 400ms;
    transition-property: all;
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
  }
}

.qr-arrow{
  position: absolute;
  bottom: 7px;
}


#info-wrapper{
  position: relative;
  padding: 10px;
  margin-bottom: 0 !important;
}

.p {
  font-size: 50px;
}

.hex-code p {
    margin-bottom: 0;
    border: 3px solid #495057;
    border-style: dashed;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 800;
    color: #495057;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 25px !important;
    padding: 20px !important;
    justify-content: center;

}

.qr-code p {
    margin-bottom: 0;
    border: 3px solid #495057;
    padding-top: 35px;
    padding-bottom: 35px;
    border-style: dashed;
    border-radius: 10px;
    font-size: 40px;
    font-weight: 800;
    color: #495057;
}

.h2 {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
}

.avatar {
  height: 3.5rem;
  width: 3.5rem;
}

.main-container {
  color: black;
  padding: 10px;
  margin-bottom: 75px;

}

.main-container p.mb {
  font-weight: light;
  color: black
}


.section {
  display: block;
  box-sizing: border-box;
}

section {
  margin-bottom: 3rem !important;
}

.bookings-box {
  border:1px solid black;
  box-sizing: border-box;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  box-sizing: border-box;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  box-sizing: border-box;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  box-sizing: border-box;
}

.card-product .card-product-infos {
  padding: 16px;
}


.navbar-bottom{
    bottom: 0;
    background: lightgrey;
    left: 0;
    right: 0;
    height: 10%;

}

.w {
  // background-color: white;
  // box-shadow: 3px 4px 10px 2px #00000014;
  padding: 0 !important;
  margin: 0 !important;
}

// // page two design of website

:root{
  --primary-color: #669cd6
  --secodary-color: #53bdff
}

*{
  background-origin: padding box;
  margin: 0;
  padding: 0;
}


.html,
body {
  font-family :roboto, sans-serif
}

.container {
  width: 90%;
  margin: 0 auto;
}

@media only screen and (min-width: 868px) {
  .main-container {
    width: 85vw;
    margin: 0 auto;
  }
  .user_bookings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .dash-white-card.bookings {
    width: 35vw;
  }

  #info-wrapper {
    width: 35vw;
    margin: 0 auto !important;
  }
  .main-dashboard {
    margin: auto;
    width: 55vw;
  }
}

