
.edit-avatar {
  display: flex;
  align-items: center;
}

.flip-up {
  transform: scaleY(-1);
}

#preference-card{
  background-color: #8bc6e8;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;

  h6 {
    font-family: "Nunito", "Helvetica", "sans-serif";
    font-weight: 500;
    line-height: 1.2;
    font-size: 24px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 0;
  }
}

.page-container {
  color: #353232;
}


section.welcome-box {
background: white;
display: flex;
align-items: center;
/* border: 1px solid; */
margin-bottom: 10px;
padding: 10px;
padding-right: 10px;
border-radius: 5px;
box-shadow: 0 1px 6px -4px black;
padding-left: 10px;
}

.welcome-box h2{
margin-bottom: 0;
font-size: 18px;
font-weight: bold;

}
.hex-code {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 9px;
  animation: 1s ease all;

}

.dash-white-card {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 9px;
  animation: 1s ease all;
}


#qr-code svg {
  margin: 0 0 30px 0;
}

.qr-wrapper  {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out;


  &.show-animation {
    max-height: 250px;
    transition: max-height 1s ease-in-out;
  }
}



// .hidden svg {
//   height: 0;
// }


.qr-arrow{
  position: absolute;
  bottom: 7px;
}


#info-wrapper{
  position: relative;
  padding: 10px;
}

.p {
  font-size: 50px;
}

.hex-code p {
    margin-bottom: 0;
    border: 3px solid #495057;
    border-style: dashed;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 800;
    color: #495057;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 25px !important;
    padding: 20px !important;
    justify-content: center;

}

.qr-code p {
    margin-bottom: 0;
    border: 3px solid #495057;
    padding-top: 35px;
    padding-bottom: 35px;
    border-style: dashed;
    border-radius: 10px;
    font-size: 40px;
    font-weight: 800;
    color: #495057;
}

.h2 {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
}

.avatar {
  height: 50px;
  width: 50px;
}

.main-container {
  color: black;
  padding: 10px;
  margin-bottom: 75px;

}

.main-container p.mb {
  font-weight: light;
  color: black
}


.section {
  display: block;
  box-sizing: border-box;
}


.bookings-box {
  border:1px solid black;
  box-sizing: border-box;
}


.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  box-sizing: border-box;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  box-sizing: border-box;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  box-sizing: border-box;
}

.card-product .card-product-infos {
  padding: 16px;
}


.navbar-bottom{
    bottom: 0;
    background: lightgrey;
    left: 0;
    right: 0;
    height: 10%;

}

.w {
  // background-color: white;
  // box-shadow: 3px 4px 10px 2px #00000014;
  padding: 0 !important;
  margin: 0 !important;
}

// // page two design of website

:root{
  --primary-color: #669cd6
  --secodary-color: #53bdff
}

*{
  background-origin: padding box;
  margin: 0;
  padding: 0;
}


.html,
body {
  font-family :roboto, sans-serif
}

.container {
  width: 90%;
  margin: 0 auto;
}
