// Specific CSS for your home-page
.valueproposition {
  margin: 20px;
  align-content: space-between;
  align-items: center;
  padding: 20px;
}

.value {
  width: 33%;
}

.value1 {
  width: 50px;
  font-size: 40px;
  color: #79a783;
}
.value1 p {
  font-size: smaller !important;
  margin-left: 5px !important;
}

.value2 {
  width: 50px;
  font-size: 40px;
  color: #c74848;
}
.value2 p {
  font-size: smaller !important;
  margin-left: 5px !important;
}

.value3 {
  width: 50px;
  font-size: 40px;
  color: #5c5896;
}
.value3p {
  font-size: smaller !important;
  margin-left: 5px !important;
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

.biggest{
    font-size: 44px;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8ZGF0YSUyMGhkfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

