.availability {
  padding: 10px;
  background-color: #d7e9ef;
  border-radius: 7px;
  width: 350px;
  box-shadow: 0 5px 9px -5px #7b7677;
  text-align: -webkit-center;
}

.availability .form-control {
  text-align: center;
}

.fa-calendar-alt::before {
  color: #27428e;
}

.booking {
  width: 300px;
}

.newbooking {
  height: 100vh;
  border: 1px solid;
  background-size: cover;
  opacity: 0.8;
  background-position: center;
  background-image: url(https://images.unsplash.com/photo-1610888662651-05dbdec7cfae?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzJ8fGNhbGVuZGFyfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
}

.search_uid {
  width: 250px;
  top: 20px;
  position: absolute;
  left: 10px;
  opacity: 0.9;
}
.search_uid .btn {
  background-color: lightblue;
  color: #6b707b;
}

.card-header {
  right: 10px;
  bottom: 0;
  text-center: unset;
  max-width: 17rem;
  align-items: center;
  position: absolute;
  min-width: 10rem;
  border-radius: 40%;
  padding: 10px;
  opacity: 0.9;
}
.card-text{
  opacity: 1;
  font-size: 25px;
}

.preferences {
  list-style: none;
  padding: 10px;
}

.main-preferences {
  padding: 40px !important;
  border-radius: 7px !important;
}

.main-preferences h2 {
  margin: 10px;
  padding-bottom: 10px !important;
}

.search_uid_bookings {
border-color: gray;
opacity: 0.9;
border-radius: 5px;
border: none;
color: black;
background-color: #78bed5;
margin-top: 15px;
}

#error-message {
  color: red;
  font-weight: 200;
  font-size: 12px;
  opacity: 0.7;
}

.restaurant-dashboard {
  background-size: cover;
  background-position: 15% 35%;
  background-repeat: no-repeat;
  padding: 15px 0 20px 0;
}

.preferences-customer {
  border-bottom: 1px solid lightgray;
  margin: 0px auto;
  margin-bottom: 35px;
  font-weight: 900;
}

.searchbar {
  margin: 0 auto;
  width: 400px;
}

.searchbar form {
  margin-bottom: 20px;
  box-shadow: 0 5px 9px -5px #7b7677;
  background: #f2f3f3;
}
.user-profile {
  background-color: #d7e9ef;
  padding: 10px;
  border-radius: 7px;
  width: fit-content;
  box-shadow: 0 5px 9px -5px #7b7677;
}

.round-robot {
  border-radius: 50%;
}

.text-bold{
  font-weight: bolder !important;
}

.profile-calendar {
display: flex;
justify-content: space-around;
margin-bottom: 50px;
align-items: stretch;
}

.user-info {
  display: inline-grid;
  width: 350px;
}

.user-info span {
  margin-left: 5px;
  padding: 10px;
  font-family: sans-serif;
}

.avatar-bookings {
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.calendar-date {
  color: #336773 !important;
  margin-bottom: 0px !important;
}

.calendar-main {
  font-weight: 300;
}

.calendar-main a {
    border: 1px solid;
    margin-bottom: 10px !important;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    border-color: lightred;
    border-color: #afcccc;
    background-color: #8bc6e8;
}

.calendar-main span {
  margin: 10px 15px;
}

.calendar-main .table  {
  text-align: center;
}

.table-striped {
    text-align-last: center;
  }
.calendarbody p {
  margin: 0px !important;
}
