refreshBooking = (innerHTML) => {

  // select the box with the flatpicker
  const activityChecker = document.querySelector('#availability')
  console.log(activityChecker)
  activityChecker.innerHTML = innerHTML
};


if (<%= @available %>) {
  refreshBooking('<%= j render partial: "bookings/new", locals: { booking: @booking, restaurant: @restaurant, start_date: @start_date, user: @user } %>')

} else {
  console.log(' non ')
  const errorMessage = document.querySelector('#error-message')

  errorMessage.innerHTML = "<p>Date not available, try again</p> "
};


