<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1601132359864-c974e79890ac?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mzh8fHRlY2hub2xvZ3klMjByb2JvdHxlbnwwfDB8MHw%3D&auto=format&fit=crop&w=500&q=60);">
  <div class="container">
    <h1>Welcome to <i>Personal Assistant 2.0</i>, <strong>- You name it, We save it !</strong>!</h1>
    <p>Save time - relay data and information the right way.</p>
  </div>
</div>
