<!--
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-white" style="padding:48px">

    <span class="w3-xxlarge w3-hide-large w3-hide-medium">Start something that matters</span><br>
    <p><a href="#about" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Learn more and start today</a></p>
  </div>
  <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
</header> -->


<div class="bgimg-1 w3-display-container w3-grayscale-min m-auto d-flex align-items-center justify-content-center" id="home">
  <div class="m-4 w3-display-left w3-text-white">
      <h1 class="p-2 biggest" id="typed-text1"></h1>
      <p class="p-2" id="typed-text2"></p>
      <div class="valueproposition row d-flex justify-content-center m-0 p-0">
        <div class="value d-flex col-12 col-sm-6 col-md-4 align-items-center justify-content-center">
          <p class="value1"><i class="fab fa-wpforms"></i></p>
          <p class="ml-2 ">Sign up, add to your profile as many preferences as you wish</p>
        </div>
        <div class="value d-flex col-12 col-sm-6 col-md-4 align-items-center justify-content-center">
          <p class="value2"><i class="fas fa-share-alt-square"></i></p>
          <p class="ml-2">Use the unique code to share your preferences with any restaurant</p>
        </div>
        <div class="value d-flex col-12 col-sm-6 col-md-4 align-items-center justify-content-center">
          <p class="value3"><i class="fas fa-umbrella"></i></p>
          <p class="ml-2 mt-1">Enjoy the free time you save every time you book.</p>
        </div>
      </div>
      <p><a href="/users/sign_in" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Start today</a></p>
  </div>
</div>


<!--

<div class="banner" style="background-image: linear-gradient(rgba(44,55,22,0.4),rgba(155,155,155,0.3)), url(https://images.unsplash.com/photo-1587075502171-3e9a1b518347?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
  <div class="container">
    <h1 class="p-2" id="typed-text1"></h1>
    <p class="p-2" id="typed-text2"></p>
  </div>
</div>

<div class="container">
    <div class="valueproposition row d-flex justify-content-center">
      <div class="value d-flex col-12 col-sm-6 col-md-3">
        <p class="value1"><i class="fab fa-wpforms"></i></p>
        <p class="ml-2">Sign up, add to your profile as many preferences as you wish</p>
      </div>
      <div class="value d-flex col-12 col-sm-6 col-md-3">
        <p class="value2"><i class="fas fa-share-alt-square"></i></p>
        <p class="ml-2">Use the unique code to share your preferences with any restaurant</p>
      </div>
      <div class="value d-flex col-12 col-sm-6 col-md-3">
        <p class="value3"><i class="fas fa-umbrella-beach"></i></p>
        <p class="ml-2 mt-1">Enjoy the free time you save every time you book.</p>
      </div>
  </div>
</div> -->
