.white-card {
  background-color: white;
  padding: 16px;
  margin: 32px 10px;
  box-shadow: 3px 4px 10px 2px #00000014;
  position: relative;
  height: auto;
}

.crud {
position: absolute;
  right: 0px;
  top: 0px;
  bottom: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  margin: 10px 10px;
}

.crud-items {
  margin: 0px 15px;
  color: gray;
}

.crud-items:hover {
  text-decoration: none;
}

.preferences {
display: flex;
flex-wrap: wrap;
padding: 10px;
}

.fa-edit {
  color: lightblue;
}

.fa-trash {
  color: #e86f6f;
}

.fa-plus {
  color: #2a91b3;
}

.fa-heart {
  color: #88c4e8f7;
}

.card-product {
  overflow: hidden;
  min-height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}



.card-product h2 {
  font-size: 19px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
