<div class="container">
 <div class="w">

  <h2>Add a new category</h2>
  <%= simple_form_for (@category) do |f| %>
    <%= f.input :name %>
    <%= f.submit 'Create', class: 'btn btn-success' %>
  <% end %>
</div>
 </div>
