<!-- display everything related to specific user -->
<!-- Take navbar from shared components -->

<div class="main-container text-center">

  <!-- USER DESCRIPTION -->
  <section class = "welcome-box d-flex">
    <img class="avatar mr-2"  src="https://kitt.lewagon.com/placeholder/users/alex4tm">
    <h2>Welcome <%= current_user.first_name %>! </h2>

  </section>


  <!-- HEX CODE OR QR CODE -->
  <section class = "hex-code mb-3 p-3">
    <p>a2fg42!</p>
  </section>

  <section class = "qr-code mb-3 p-3">
    <p><i class="fas fa-qrcode"></i></p>
  </section>

  <!-- USER FUTURE BOOKINGS -->
  <section>
    <h6>YOUR UPCOMING BOOKINGS:</h6>
      <div class="card-product mb-2">
        <img src="https://images.unsplash.com/photo-1525648199074-cee30ba79a4a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" />
        <div class="card-product-infos">
          <h2> <% current_user.bookings.each do |booking| %> </h2>
            <%= booking.restaurant %>
          <% end %>
          <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
      </div>

    <div class="card-product mb-2">
      <img src="https://images.unsplash.com/photo-1525648199074-cee30ba79a4a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" />
      <div class="card-product-infos">
        <h2>Product name</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>

    <div class="card-product mb-2">
      <img src="https://images.unsplash.com/photo-1525648199074-cee30ba79a4a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" />
      <div class="card-product-infos">
        <h2>Product name</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>
  </section>
</div>

<div class= "navbar-bottom position-fixed h-15 bottom-0 left-0 right-0 d-flex justify-content-around align-items-center">
  <a href="your link here"><i class="fas fa-chevron-left"></i> &nbsp;
  <a href="your link here"><i class="fas fa-heart"></i> &nbsp;
  <a href="your link here"><i class="fas fa-chevron-right"></i> &nbsp;

</div>


